# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Logs
logs/

# Data files
data/raw/
data/interim/
data/processed/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env

artifacts/